<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>SavePaperServlet</servlet-name>
        <servlet-class>Member.SavePaperServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrepareExamServlet</servlet-name>
        <servlet-class>Member.PrepareExamServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConstructPaperServlet</servlet-name>
        <servlet-class>Member.ConstructPaperServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileRetrieverServlet</servlet-name>
        <servlet-class>Member.FileRetrieverServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>Member.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>Member.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaperRetrieveServlet</servlet-name>
        <servlet-class>Member.PaperRetrieveServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DBConnectSetting</servlet-name>
        <servlet-class>model.DBConnectModel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecoverAccServlet</servlet-name>
        <servlet-class>Member.RecoverAccServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateNewFileServlet</servlet-name>
        <servlet-class>Member.CreateNewFileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckAnswerServlet</servlet-name>
        <servlet-class>Member.CheckAnswerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SavePaperServlet</servlet-name>
        <url-pattern>/SavePaperServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrepareExamServlet</servlet-name>
        <url-pattern>/PrepareExamServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConstructPaperServlet</servlet-name>
        <url-pattern>/ConstructPaperServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileRetrieverServlet</servlet-name>
        <url-pattern>/FileRetrieverServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaperRetrieveServlet</servlet-name>
        <url-pattern>/PaperRetrieveServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DBConnectSetting</servlet-name>
        <url-pattern>/DBConnectSetting</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/RegisterController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecoverAccServlet</servlet-name>
        <url-pattern>/RecoverAccServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateNewFileServlet</servlet-name>
        <url-pattern>/CreateNewFileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckAnswerServlet</servlet-name>
        <url-pattern>/CheckAnswerServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index/login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
