@charset "utf-8";
/* CSS Document */


*{
    margin: 0px;
    padding: 0px;
} 

html,body {
    height:100%
}

.container-fluid {
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "微軟正黑體","sans-serif";
    font-size: 20px;
    color:white;
    background-color: #3D3D3D;
}

.header {
}

.logo img{
    width:180px;
    padding: 15px 0 0px 0px;
}

.logo b {
    font-size: 18px;
    color:#8C8C8C;
    width:300px;
}

.account-box { }

.account-botton {
    width: 300px;
    height: 50px;
    text-align: right;
}

.content {
    height:auto;
}
.title-box {
    width:100%;
    height:90px;
}

.rename {
    border:#8C8C8C solid;
}

.rename-box {	
    width:95%;
}

#text-rename {
    margin: 0 ;
    font-size: 25px;
}

.toolbar-box {
    border:#8C8C8C solid;
}


#text-toolbar {
    font-size: 22px;
    margin: 30px 0 0 10px;
    width:80px;
}

.toolbar-btn button{
    background-color:#6D6D6D;
    color:#FFFFFF;
    webkit-transition: background .2s linear;
    transition: background .2s linear;
}

.toolbar-btn button:hover{
    background-color:#00B4AA;
}

.save-btn button {
    background-color:#00B4AA;
    color:#FFFFFF;
    webkit-transition: background .2s linear;
    transition: background .2s linear;
}

.save-btn button:hover {
    background-color: #FF0096;
}

.article {
    width:100%;
    border:#8C8C8C solid 3px;
    text-align: center;
    line-height: 50px;
} 

.cloze-area {
    min-height: 590px
}

#text-cloze-bar {
    margin: 10px 0 20px 20px;

}

.make-cloze-bar {
    color:white;
    border: #8C8C8C solid;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #3D3D3D50;
    position: fixed;
    z-index: 100px;
    left: 0;
    top:30vh;
}

.make-clo-btn {
    width:117px;
    height:117px;
    margin:10px;
    border: #FF0096 solid;
    text-align: center;
    border-radius: 50%;
    background-color: #000000FF;
    webkit-transition: background .2s linear;
    transition: background .2s linear;
}

.make-clo-btn img {
    width:50px;
    margin: 10px 0 0 0; 
}

.make-clo-btn:hover {
    color:#000000;
    background-color:#FFFFFF;
    border: #FF0096 solid;
}

.toggle
{
    border: #D3D3D3 solid;
    border-radius: 10px;
    width:20px;
    background-color: #D3D3D3;
}

.cloze-article {
    text-align: justify;
}

.footer{
    background-color:#707070;
    color:#FFFFFF;
    padding: 20px 40px 10px 20px;
}
.footertext {

}

#content input{
    height: 25px;
    width:160px;
    border: none;
    border-bottom:#8C8C8C solid 1px;
    text-align: center;
}

#content input:focus {
    background-color:rgba(0,180,170,0.3);
}

.paragraph{
    display: block;
    width:100%;
    word-break: break-all;
}

.readme-panel img{
    width:100%
}

.readme-exp-panel img{
    width:50px;
}

.readme-exp-panel p{
    margin-left: 50px;
}

.hint{
    z-index: 100;
    position: absolute;
    top: 0px
}

@font-face {
    font-family: sosa;
    src:url(/EZcloLS/Font/sosa-regular-webfont.ttf);
}

@font-face{
    font-family: Entypo;
    src:url(/EZcloLS/Font/Entypo-webfont.ttf)	;
}
