@charset "utf-8";
/* CSS Document */

*{

    margin:0px;
    padding: 0px;

} 

.container-fluid {
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "微軟正黑體","sans-serif";


}

.header {
    position:relative;
    box-shadow: 0 3px 5px 3px #C3C3C3 ;
}

.logo{	}

.logo img{
    width:180px;
    padding: 15px 0 0px 0px;

}

.logo b {
    position: absolute;
    left: 215px;
    top: 93px;
    font-size: 18px;
    color:#8C8C8C;
    width:300px;

}

.nav-box {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    width:100%;
}

.options {
    font-size: 40px;
}

.options a {
    color:#000000;
    margin-top:8px;
    text-decoration: none;
    float:right;
    width:240px;
    height: 120px;
    text-align: center;
    line-height: 130px;

}

.options .active{
    background-color:#FF0096;
    color:aliceblue;    	 	
    text-decoration: none;
}

.options .nonActive  { 
    border-bottom:#00B4AA solid;
    border-bottom-width: 4px;
    color: #000000;
}

.options .nonActive:hover  { 
    background-color:#00B4AA ;
    color:aliceblue;
    text-decoration: none;
}

.content {
    height: 750px;;
}

.vaild {

}

.regiForm {
    width:100%;
    padding-top:50px;
    margin-left: 30px;
    font-size: 30px;

}

.loginbox {	
    width:70%;
}

.signbox {


}
.signbox input {
    margin:30px 0 50px 15px;
    width:200px;
    height:60px;
    padding-top: 14px;
    font-size: 22px;
}



.signbox a {
    font-size: 20px;

}

.smalloptions {
    margin: 50px 0 0 50px;;
    font-size: 20px;

}

.smalloptions a {
    margin-right: 30px;

}

.footer{
    background-color:#707070;
    color:#FFFFFF;
    padding: 20px 40px 10px 20px;
}
.footertext {

}
